#inpostButtonShow{width:auto;padding-right: 20px;margin:10px 0;}
#inpostButtonShow button{margin:7px 0 5px;padding: 5px 10px;height:auto;margin: 0;}
#inpostButtonShow button, .inpostInfo{line-height: 1.2em;}
#inpostButtonShow, .inpostInfo{display:inline-block;vertical-align:middle;float:none;}
.inpostInfo{font-size:12px;}
.easypack-map-frame * {margin: initial;}
.easypack-map-frame{background:#fff;position:fixed;top:0;left:0;right:0;margin:auto;height:100%;width:95%;z-index:99999;}
.easypack-map-frame .close{position:absolute;top:0px;right:0px;font-size:30px;color:#aaa;padding:5px;z-index:101;cursor:pointer;}
.easypack-map-frame input[type="text"]{width:100%!important;}
.point-details .details-actions, .info-box-wrapper .route-link {  display: none !important; }
.easypack-map-frame .info-box-wrapper img{width:auto;}
